body {
  margin: 0;
  background: black;
  font-family: monospace;
  color: lime;
  height: 90vh;
}
#output {
  overflow: auto;
}
#output>.repl-dir {
  font-style: italic;
  margin-bottom: 2.5vh;
}
#output>.repl-err {
  color: red;
  font-weight: bold;
}
#output>div {
  margin-bottom: 0.3vh;
}
#input {
  background: black;
  color: lime;
  border: none;
  width: 98vw;
  font-family: monospace;
  font-size: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
}
#input-prefix {
  width: 2vw;
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
}
